<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>MsgBoard</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>FilterServletTest</display-name>
        <servlet-name>FilterServletTest</servlet-name>
        <servlet-class>compsg.cn.msgboard.test.FilterServletTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterServletTest</servlet-name>
        <url-pattern>/FilterServletTest</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>ErrorCodeFilter</display-name>
        <filter-name>ErrorCodeFilter</filter-name>
        <filter-class>compsg.cn.msgboard.filter.ErrorCodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorCodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description></description>
        <display-name>LoginAction</display-name>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>compsg.cn.msgboard.action.LoginAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>RegistAction</display-name>
        <servlet-name>RegistAction</servlet-name>
        <servlet-class>compsg.cn.msgboard.action.RegistAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistAction</servlet-name>
        <url-pattern>/RegistAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>OpMessageAction</display-name>
        <servlet-name>OpMessageAction</servlet-name>
        <servlet-class>compsg.cn.msgboard.action.OpMessageAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpMessageAction</servlet-name>
        <url-pattern>/OpMessageAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ShowMessagesAction</display-name>
        <servlet-name>ShowMessagesAction</servlet-name>
        <servlet-class>compsg.cn.msgboard.action.ShowMessagesAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowMessagesAction</servlet-name>
        <url-pattern>/ShowMessagesAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LogoutAction</display-name>
        <servlet-name>LogoutAction</servlet-name>
        <servlet-class>compsg.cn.msgboard.action.LogoutAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAction</servlet-name>
        <url-pattern>/LogoutAction</url-pattern>
    </servlet-mapping>
</web-app>